h1 {
    font-size: 26px;
    font-style: italic;
}

.container{
    display: flex;
    align-items: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    background: #fafafa;
    padding: 20px;
}
